.sidebar_content .item{
    margin-bottom: 25px;
    }
    .sidebar_content svg{
        margin-right: 10px;
    }
    .sidebar_content .top_content{
        margin-bottom: 20vh;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .sidebar_content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }